/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "RobotoBold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

@font-face {
  font-family: "RobotoItalic";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoItalic/RobotoItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoItalic/RobotoItalic.woff") format("woff"), url("../fonts/RobotoItalic/RobotoItalic.ttf") format("truetype"); }

body {
  font-family: "RobotoRegular", Helvetica, Arial;
  font-size: 12px;
  color: #73879c;
  background: #3e4444; }

h1 {
  font-size: 24px;
  font-family: "RobotoBold"; }

h2 {
  font-size: 20px;
  font-family: "RobotoRegular"; }

h3 {
  font-size: 18px;
  font-family: "RobotoRegular"; }

h3 span {
  font-size: 12px; }

h5 {
  font-size: 15px;
  margin-bottom: 10px;
  line-height: 18px; }

section {
  overflow: hidden; }

.h3-wrap {
  padding-bottom: 15px;
  border-bottom: 2px solid #e2e5ea;
  margin-bottom: 15px;
  position: relative; }

.fixed-block__left {
  width: 22%;
  max-width: 350px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0; }

.fixed-block__left .fixed-block__logo img {
  width: 100%;
  height: auto; }

.fixed-block__left .fixed-block__menu {
  margin-top: -2px; }

.fixed-block__left .fixed-block__menu .menu li a {
  color: #fefefe;
  text-decoration: none;
  font-size: 26px;
  display: block;
  padding: 18px 10px 18px 40px;
  border-top: 5px solid #3e4444;
  border-right: 5px solid #3e4444;
  background: #292e31; }

.fixed-block__left .fixed-block__menu .menu li:hover a {
  color: #1abb9c; }

.fixed-block__left .fixed-block__menu .menu .arrow {
  position: relative; }

.fixed-block__left .fixed-block__menu .menu .arrow:after {
  content: "";
  position: absolute;
  top: -webkit-calc(50% - 5px);
  top: calc(50% - 5px);
  right: 25px;
  width: 15px;
  height: 19px;
  background: url(../img/arrow_bg.png); }

.fixed-block__left .fixed-block__menu .menu .arrow:hover a {
  color: #1abb9c; }

.fixed-block__left .fixed-block__menu .menu .arrow:hover:after {
  content: "";
  position: absolute;
  top: -webkit-calc(50% - 5px);
  top: calc(50% - 5px);
  right: 25px;
  width: 15px;
  height: 19px;
  background: url(../img/arrow_bg_hover.png); }

.fixed-block__left .fixed-block__menu .menu .menu-active a {
  color: #1abb9c; }

.fixed-block__left .fixed-block__menu .menu .menu-active:after {
  content: "";
  position: absolute;
  top: -webkit-calc(50% - 5px);
  top: calc(50% - 5px);
  right: 25px;
  width: 15px;
  height: 19px;
  background: url(../img/arrow_bg_hover.png); }

.fixed-block__right {
  width: 7%;
  border-left: 5px solid #3e4444;
  position: fixed;
  top: 0;
  right: 0; }

.fixed-block__right .fixed-block__right-item {
  height: 100px;
  border-right: 5px solid #000;
  background: #292e31; }

.fixed-block__right .fixed-block__right-item + .fixed-block__right-item {
  border-top: 5px solid #3e4444; }

.fixed-block__right .right-item_active {
  border-right: 5px solid #1abb9c; }

/*    content    */
.wrapper {
  max-width: 1440px;
  width: 69.5%;
  margin-left: 21%;
  background: #f7f7f7;
  padding: 25px 20px 0; }

.wrapper header {
  margin-bottom: 20px; }

.wrapper header .header__top-line {
  overflow: hidden;
  margin-bottom: 25px; }

.wrapper header .header__top-line h1 {
  float: left;
  margin-top: 7px; }

.wrapper header .header__top-line .header__search {
  float: right; }

.wrapper header .header__top-line .header__search form input {
  color: #73879c;
  font-family: "RobotoBold"; }

.wrapper header .header__top-line .header__search form input[type="text"] {
  border: 2px solid #ecedef;
  padding: 8px 8px 8px 25px;
  float: left;
  -webkit-border-bottom-left-radius: 20px;
          border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
          border-top-left-radius: 20px;
  font-family: "RobotoBold"; }

.wrapper header .header__top-line .header__search form input[type="submit"] {
  border: 2px solid #ecedef;
  padding: 7px 10px 7px 5px;
  -webkit-border-bottom-right-radius: 20px;
          border-bottom-right-radius: 20px;
  -webkit-border-top-right-radius: 20px;
          border-top-right-radius: 20px;
  border-left: 0;
  background: #fff;
  height: 38px; }

.wrapper .header__users-data {
  text-align: center; }

.wrapper .header__users-data .users {
  display: inline-block;
  padding: 0 2.9%;
  text-align: left;
  margin-bottom: 15px; }

.wrapper .header__users-data .users + .users {
  border-left: 2px solid #a8adb1; }

.wrapper .header__users-data .users .user__title i {
  margin-right: 5px; }

.wrapper .header__users-data .users .users__amount {
  font-size: 38px;
  font-family: "RobotoBold";
  padding: 5px 0; }

.wrapper .header__users-data .users .users__amount_rise {
  color: #1abb9c; }

.wrapper .header__users-data .users .user__period {
  padding-left: 3px; }

.wrapper .header__users-data .users .user__period .user__period_rise {
  color: #1abb9c;
  position: relative; }

.wrapper .header__users-data .users .user__period .user__period_rise:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 10px;
  top: 2px;
  left: -15px;
  background: url(../img/rise.png); }

.wrapper .header__users-data .users .user__period .user__period_falls {
  color: red;
  position: relative; }

.wrapper .header__users-data .users .user__period .user__period_falls:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 10px;
  bottom: 2px;
  left: -15px;
  background: url(../img/falls.png); }

.wrapper .activities {
  background: #fff;
  overflow: hidden;
  margin-bottom: 20px; }

.wrapper .activities .activities__top {
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid #e7eaee;
  overflow: hidden;
  margin-bottom: 15px; }

.wrapper .activities .activities__top h2 {
  float: left;
  margin-top: 8px; }

.wrapper .activities .activities__top h2 span {
  font-size: 12px; }

.wrapper .activities .activities__top .calendar {
  width: 315px;
  height: 30px;
  border: 1px solid #a8adb1;
  float: right; }

.wrapper .activities__graph {
  width: 70%;
  float: left;
  margin-left: 20px; }

.wrapper .activities__graph img {
  width: 100%; }

.wrapper .activities__progress {
  float: right;
  margin-right: 20px;
  width: 25%; }

.wrapper .activities__progress h3 {
  margin-bottom: 20px; }

.wrapper .activities__progress .progress-wrap {
  margin-bottom: 4%; }

.wrapper .activities__progress .progress-wrap .progress-title {
  margin-bottom: 2%; }

.wrapper .info-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px; }

.wrapper .info-section .info-block {
  width: 32%;
  background: #fff;
  border: 2px solid #e8ebee;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper .info-block__icons {
  position: absolute;
  top: 0;
  right: 0; }

.wrapper .info-block__icons a {
  dispalay: block;
  float: left;
  margin-left: 7px;
  color: #c5c6c9; }

.wrapper .app-versions table {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper .app-versions table td {
  padding: 10px; }

.wrapper .recent-activ {
  width: 32%;
  background: #fff;
  border: 2px solid #e8ebee;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  float: left; }

.wrapper .recent-activ:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 90%;
  bottom: 15px;
  background: #eaeaea; }

.wrapper .recent-activ__block {
  padding-bottom: 15px;
  padding-left: 15px;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 15px;
  position: relative; }

.wrapper .recent-activ__block:last-child {
  margin-bottom: 0; }

.wrapper .recent-activ__block:before {
  content: "";
  position: absolute;
  background: url(../img/recent-activ__block_before.png);
  width: 23px;
  height: 18px;
  top: 0;
  left: -10px; }

.wrapper .recent-activ__block .recent-activ__time {
  font-family: "RobotoItalic";
  margin-bottom: 5px; }

.wrapper .recent-activ__block .recent-activ__time span {
  font-size: 11px;
  color: #a8bcb9; }

.wrapper .recent-activ__block p {
  line-height: 18px; }

.wrapper .recent-activ__block a {
  text-decoration: none;
  color: #73879c; }

.wrapper .right-block {
  width: 66%;
  float: right; }

.wrapper .right-block .location {
  width: 100%;
  background: #fff;
  border: 2px solid #e8ebee;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 20px; }

.wrapper .right-block .location .location__data {
  width: 29%;
  float: left; }

.wrapper .right-block .location .location__data table tr {
  border-top: 1px solid #e8ebee; }

.wrapper .right-block .location .location__data table tr td {
  padding: 10px; }

.wrapper .right-block .location .location__map {
  width: 69%;
  float: right; }

.wrapper .right-block .do-list-wrap {
  width: 100%;
  overflow: hidden; }

.wrapper .right-block .do-list-wrap .do-list {
  background: #fff;
  width: 49%;
  border: 2px solid #e8ebee;
  padding: 15px 20px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper .right-block .do-list-wrap .do-list label {
  background: #f3f3f3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  padding: 7px 5px;
  margin-bottom: 5px;
  display: block; }

.wrapper .right-block .do-list-wrap .daily-activ {
  background: #fff;
  border: 2px solid #e8ebee;
  padding: 15px 20px;
  width: 49%;
  float: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper footer {
  background: #fff;
  padding: 10px 20px 18px 0;
  margin-top: 15px;
  text-align: right;
  vertical-align: center; }

.wrapper footer img {
  position: relative;
  top: 7px; }

.wrapper footer span {
  font-size: 15px; }

@media screen and (max-width: 1600px) {
  .wrapper {
    max-width: 1440px;
    width: 68%;
    margin-left: 22%; } }

@media screen and (max-width: 1440px) {
  .fixed-block__left {
    width: 18%; }
  .fixed-block__right {
    width: 5%;
    border-left: 5px solid #3e4444;
    position: fixed;
    top: 0;
    right: 0; }
  .wrapper {
    max-width: 1440px;
    width: 74%;
    margin-left: 18%; }
  .activities__graph {
    width: 69% !important; }
  h3 {
    width: 60%; } }

@media screen and (max-width: 1024px) {
  .fixed-block__left {
    display: none; }
  .fixed-block__right {
    display: none; }
  .wrapper {
    max-width: 1440px;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; } }

@media screen and (max-width: 800px) {
  h3 {
    width: 100% !important; }
  .activities__graph {
    width: 100% !important;
    margin-bottom: 20px;
    float: none !important; }
  .activities__progress {
    width: 100% !important;
    text-align: center;
    float: none !important; }
  .progress-wrap {
    margin-bottom: 2% !important; }
  .info-block {
    width: 48% !important;
    margin-bottom: 15px; }
  .recent-activ {
    width: 100% !important;
    float: none !important;
    margin-bottom: 20px; }
  .recent-activ:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 88% !important;
    bottom: 15px;
    background: #eaeaea; }
  .right-block {
    width: 100% !important; }
  .info-block {
    width: 100% !important; }
  .do-list {
    width: 100% !important; }
  .daily-activ {
    width: 100% !important; }
  .activities__top h2 {
    float: none !important;
    margin-bottom: 15px; }
  .activities__top .calendar {
    float: none !important; } }

@media screen and (max-width: 480px) {
  .location__data {
    width: 100% !important;
    float: none !important;
    width: 100%;
    margin-bottom: 20px; }
  .location__map {
    width: 100% !important; }
  .header__top-line h1 {
    float: none !important;
    text-align: center;
    margin-bottom: 15px; }
  .header__top-line .header__search {
    float: none !important;
    width: 60%;
    white-space: nowrap;
    margin: 0 auto; }
  .calendar {
    width: 220px !important; }
  footer p {
    text-align: left;
    padding-left: 20px; }
  footer p span {
    display: block; } }

@media screen and (max-width: 360px) {
  h1 {
    float: none !important;
    text-align: center;
    margin-bottom: 15px; }
  .recent-activ h3 {
    width: 60% !important; }
  .header__search {
    float: none !important;
    width: 80% !important;
    white-space: nowrap;
    margin: 0 auto; } }
