@media screen and (max-width: 1600px)

	.wrapper
		max-width:  1440px
		width: 68%
		margin-left: 22%

@media screen and (max-width: 1440px)

	.fixed-block__left
		width: 18%

	.fixed-block__right
		width: 5%
		border-left: 5px solid #3e4444
		position: fixed
		top: 0
		right: 0

	.wrapper
		max-width:  1440px
		width: 74%
		margin-left: 18%

	.activities__graph
		width: 69% !important

	h3
		width: 60%
	
@media screen and (max-width: 1024px)

	.fixed-block__left
		display: none

	.fixed-block__right
		display: none

	.wrapper
		max-width:  1440px
		width: 100%
		margin-left: 0
		box-sizing: border-box

@media screen and (max-width: 800px)

	h3
		width: 100% !important

	.activities__graph
		width: 100% !important
		margin-bottom: 20px
		float: none !important

	.activities__progress
		width: 100% !important
		text-align: center
		float: none !important

	.progress-wrap
		margin-bottom: 2% !important

	.info-block
		width: 48% !important
		margin-bottom: 15px

	.recent-activ
		width: 100% !important
		float: none !important
		margin-bottom: 20px

		&:before
			content: ""
			position: absolute
			width: 3px
			height: 88% !important
			bottom: 15px
			background: #eaeaea

	.right-block
		width: 100% !important

	.info-block
		width: 100% !important
	
	.do-list
		width: 100% !important

	.daily-activ
		width: 100% !important

	.activities__top
		h2
			float: none !important
			margin-bottom: 15px

		.calendar
			float: none !important



@media screen and (max-width: 480px)

	.location__data
		width: 100% !important
		float: none !important
		width: 100%
		margin-bottom: 20px

	.location__map
		width: 100% !important

	.header__top-line

		h1
			float: none !important
			text-align: center
			margin-bottom: 15px

		.header__search
			float: none !important
			width: 60%
			white-space: nowrap
			margin: 0 auto

	.calendar
		width: 220px !important
	
	footer
		p
			text-align: left
			padding-left: 20px

			span
				display: block

@media screen and (max-width: 360px)
	
	.header__top-line

	h1
		float: none !important
		text-align: center
		margin-bottom: 15px
	
	.recent-activ
		h3
			width: 60% !important

	.header__search
		float: none !important
		width: 80% !important
		white-space: nowrap
		margin: 0 auto

