@import "bourbon"
@import reset

+font-face("RobotoBold", "../fonts/RobotoBold/RobotoBold", $file-formats: eot woff ttf)
+font-face("RobotoRegular", "../fonts/RobotoRegular/RobotoRegular", $file-formats: eot woff ttf)
+font-face("RobotoItalic", "../fonts/RobotoItalic/RobotoItalic", $file-formats: eot woff ttf)

$main-color: #73879c
$hover-color: #1abb9c

body
	font-family: "RobotoRegular", Helvetica, Arial
	font-size: 12px
	color: $main-color
	background: #3e4444

h1
	font-size: 24px
	font-family: "RobotoBold"

h2
	font-size: 20px
	font-family: "RobotoRegular"

h3
	font-size: 18px
	font-family: "RobotoRegular"
	
	span
		font-size: 12px

h5
	font-size: 15px
	margin-bottom: 10px
	line-height: 18px

section
	overflow: hidden

.h3-wrap
	padding-bottom: 15px
	border-bottom: 2px solid #e2e5ea
	margin-bottom: 15px
	position: relative

.fixed-block__left
	width: 22%
	max-width: 350px
	position: fixed
	top: 0
	left: 0
	bottom: 0

	.fixed-block__logo

		img
			width: 100%
			height: auto

	.fixed-block__menu
		margin-top: -2px
		.menu


			li

				a
					color: #fefefe
					text-decoration: none
					font-size: 26px
					display: block
					padding: 18px 10px 18px 40px
					border-top: 5px solid #3e4444
					border-right: 5px solid #3e4444
					background: #292e31
				
				&:hover

					a
						color: $hover-color
			.arrow
				position: relative

				&:after
					content: ""
					position: absolute
					top: calc(50% - 5px)
					right: 25px
					width: 15px
					height: 19px
					background: url(../img/arrow_bg.png)

				&:hover

					a
						color: $hover-color

					&:after
						content: ""
						position: absolute
						top: calc(50% - 5px)
						right: 25px
						width: 15px
						height: 19px
						background: url(../img/arrow_bg_hover.png)
				
			.menu-active

				a
					color: $hover-color

				&:after
					content: ""
					position: absolute
					top: calc(50% - 5px)
					right: 25px
					width: 15px
					height: 19px
					background: url(../img/arrow_bg_hover.png)

.fixed-block__right
	width: 7%
	border-left: 5px solid #3e4444
	position: fixed
	top: 0
	right: 0

	.fixed-block__right-item
		height: 100px
		border-right: 5px solid #000
		background: #292e31

	.fixed-block__right-item 

		&+ .fixed-block__right-item
			border-top: 5px solid #3e4444

	.right-item_active
		border-right: 5px solid $hover-color


/*    content    */



.wrapper
	max-width:  1440px
	width: 69.5%
	margin-left: 21%
	background: #f7f7f7
	padding: 25px 20px 0

	header
		margin-bottom: 20px
		.header__top-line
			overflow: hidden
			margin-bottom: 25px

			h1
				float: left
				margin-top: 7px

			.header__search
				float: right
				
				form
					input
						color: $main-color
						font-family: "RobotoBold"
						

					input[type="text"]
						border: 2px solid #ecedef
						padding: 8px 8px 8px 25px
						float: left
						border-bottom-left-radius: 20px
						border-top-left-radius: 20px
						font-family: "RobotoBold"	
					
					input[type="submit"]
						border: 2px solid #ecedef
						padding: 7px 10px 7px 5px
						border-bottom-right-radius: 20px
						border-top-right-radius: 20px
						border-left: 0
						background: #fff
						height: 38px


	.header__users-data
		text-align: center

		.users
			display: inline-block
			padding: 0 2.9%
			text-align: left
			margin-bottom: 15px

			& + .users
				border-left: 2px solid #a8adb1

			.user__title

				i
					margin-right: 5px

			.users__amount
				font-size: 38px
				font-family: "RobotoBold"
				padding: 5px 0

			.users__amount_rise
				color: $hover-color

			.user__period
				padding-left: 3px

				.user__period_rise
					color: $hover-color
					position: relative
					
					&:before
						content: ""
						position: absolute
						width: 15px 
						height: 10px
						top: 2px
						left: -15px
						background: url(../img/rise.png)

				.user__period_falls
					color: red
					position: relative
					
					&:before
						content: ""
						position: absolute
						width: 15px 
						height: 10px
						bottom: 2px
						left: -15px
						background: url(../img/falls.png)
	.activities
		background: #fff
		overflow: hidden
		margin-bottom: 20px

		.activities__top
			padding: 10px 20px 10px 20px
			border-bottom: 2px solid #e7eaee
			overflow: hidden
			margin-bottom: 15px
			
			h2
				float: left
				margin-top: 8px

				span
					font-size: 12px

			.calendar
				width: 315px
				height: 30px
				border: 1px solid #a8adb1
				float: right

	.activities__graph
		width: 70%
		float: left
		margin-left: 20px

		img
			width: 100%

	.activities__progress
		float: right
		margin-right: 20px
		width: 25%

		h3
			margin-bottom: 20px

		.progress-wrap
			margin-bottom: 4%

			.progress-title
				margin-bottom: 2%

	.info-section
		display: flex
		flex-direction: row
		flex-wrap: wrap
		justify-content: space-between
		margin-bottom: 20px

		.info-block
			width: 32%
			background: #fff
			border: 2px solid #e8ebee
			padding: 15px 20px
			box-sizing: border-box
			
	.info-block__icons
		position: absolute
		top: 0
		right: 0

		a
			dispalay: block
			float: left
			margin-left: 7px
			color: #c5c6c9

	.app-versions

		table
			width: 100%
			box-sizing: border-box 

			td
				padding: 10px

	.recent-activ
		width: 32%
		background: #fff
		border: 2px solid #e8ebee
		padding: 15px 20px
		box-sizing: border-box
		position: relative
		float: left

		&:before
			content: ""
			position: absolute
			width: 3px
			height: 90%
			bottom: 15px
			background: #eaeaea



	.recent-activ__block
		padding-bottom: 15px
		padding-left: 15px
		border-bottom: 2px solid #eaeaea
		margin-bottom: 15px
		position: relative
		
		&:last-child
			margin-bottom: 0

		&:before
			content: ""
			position: absolute
			background: url(../img/recent-activ__block_before.png)
			width: 23px
			height: 18px
			top: 0
			left: -10px

		.recent-activ__time
			font-family: "RobotoItalic"
			margin-bottom: 5px

			span
				font-size: 11px
				color: #a8bcb9
		
		p
			line-height: 18px

		a
			text-decoration: none
			color: $main-color

	.right-block
		width: 66%
		float: right

		.location
			width: 100%
			background: #fff
			border: 2px solid #e8ebee
			padding: 15px 20px
			box-sizing: border-box
			overflow: hidden
			margin-bottom: 20px

			.location__data
				width: 29%
				float: left
				
				table
					tr
						border-top: 1px solid #e8ebee

						td
							padding: 10px

			.location__map
				width: 69%
				float: right


		.do-list-wrap
			width: 100%
			overflow: hidden

			.do-list
				background: #fff
				width: 49%
				border: 2px solid #e8ebee
				padding: 15px 20px
				float: left
				box-sizing: border-box

				label
					background: #f3f3f3
					border-radius: 3px
					padding: 7px 5px 
					margin-bottom: 5px
					display: block
				

			.daily-activ
				background: #fff
				border: 2px solid #e8ebee
				padding: 15px 20px
				width: 49%
				float: right
				box-sizing: border-box

	footer
		background: #fff
		padding: 10px 20px 18px 0
		margin-top: 15px
		text-align: right
		vertical-align: center

		img
			position: relative
			top: 7px

		span
			font-size: 15px

@import media